controller_module/cmake-build-debug-mingw_stm32/
controller_module/cmake-build-release-mingw_stm32/
controller_module/.idea/
center_module/cmake-build-debug-mingw_stm32/
center_module/cmake-build-release-mingw_stm32/
center_module/.idea/
center_module/**/Backup/