center_module/**/Backup/
uwb_module/**/Backup/
center_uwb/**/Backup/

.idea/
uwb_module/.idea/
/doc/

/.vite/

*.ioc

.cmake/
CMakeFiles/
*.bin
*.cbp
*.eif
*.hex
*.elf
*.map
*.cmake
*.obj
*.log
CMakeCache.txt
Makefile