center_module/**/Backup/
uwb_module/**/Backup/
center_uwb/**/Backup/
.idea/
uwb_module/.idea/
/doc/
.settings/
*.log

*.ioc

# ignore cmake files
.cmake/
CMakeFiles/
*.bin
*.cbp
*.eif
*.hex
*.elf
*.map
*.cmake
*.obj
CMakeCache.txt
Makefile

# ignore cubeMX files
*.cproject
*.mxproject
*.project
