# .ipynb -> .py
*.ipynb linguist-language=Python

# ignore assembly
*.a linguist-vendored
*.asm linguist-vendored
*.s linguist-vendored
*.o linguist-vendored
*.out linguist-vendored

# ignore folder named Drivers, Middlewares, references and Third_Party
center_module/Drivers/** linguist-vendored
controller_module/Drivers/** linguist-vendored
center_module/Middlewares/** linguist-vendored
controller_module/Middlewares/** linguist-vendored
center_module/Third_Party/** linguist-vendored
controller_module/Third_Party/** linguist-vendored
center_module/Core/** linguist-vendored
controller_module/Core/** linguist-vendored
references/** linguist-vendored

uwb_module/core/** linguist-vendored
uwb_module/drivers/** linguist-vendored